name: Pull Request Preview
on:
  pull_request:
    branches: [main]
  pull_request_target:
    types: [opened]
permissions:
  issues: write
  pull-requests: write
jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Get branch name
        id: get_branch_name
        run: echo ::set-output name=branch::${GITHUB_HEAD_REF}
      - name: Find Existing Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
      - name: Comment
        if: ${{ steps.fc.outputs.comment-id == 0 }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
           ## Preview
           [[Lora Train] Colab Preview](https://colab.research.google.com/github/wibus-wee/stable_diffusion_chilloutmix_ipynb/blob/${{ steps.get_branch_name.outputs.branch }}/lora_train.ipynb)

           [[Web UI] Colab Preview](https://colab.research.google.com/github/wibus-wee/stable_diffusion_chilloutmix_ipynb/blob/${{ steps.get_branch_name.outputs.branch }}/stable_diffusion_1_5_webui.ipynb)

           [[Xformers Build] Colab Preview](https://colab.research.google.com/github/wibus-wee/stable_diffusion_chilloutmix_ipynb/blob/${{ steps.get_branch_name.outputs.branch }}/xformers_build.ipynb)